:root{
    --primary-color:#15162D;
    --shadow-color:#2c2e61;
    
}
p{
    margin: 0;
}
.teamName{
    font-size: 20px;
}
body {
background-image: url("/user/images/mobileWallpaper.jpeg") ;
background-position: center;
background-size: cover;
background-repeat: no-repeat;
overflow: hidden;

}

.parent {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.messageContainer {
    display: flex;
    height: 100%;
    overflow: scroll;
}

.messages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    /* min-height: 40px; */
    width: fit-content;
    font-size: 15px;
    max-width: 80%;
    
    padding: 1%;
    margin: 10px;
    border-radius: 0px 20px 20px 20px;
    background-color: #15162D;
    -webkit-box-shadow: 3px 4px 43px -8px #2c2e61;
    -moz-box-shadow: 3px 4px 43px -8px #2c2e61;
    box-shadow: 3px 4px 43px -8px #2c2e61;
   

}
.messages p{
    color: white;
}


.messsages p {
    /* text-overflow: ellipsis; */
    /* width: 80%; */
    color: white;



}
.messages>p:last-child{
    margin: 0.2rem 0% 0.2rem 0%;
    text-align: right;
    font-size: 12px;
}
.serverMessage {

    background-color: #15162D;

    color: rgb(242, 5, 5);
  

}


.myMessage {
    display: flex;
    align-self: flex-end;
    border-radius: 20px 0px 20px 20px;
    background-color: #0D6EFD;
}
.myMessage>h6{
    display: none;
}

.first h6{
    color: greenyellow;
}

.second h6{
        color: blue;
}

.third h6{
    color: orangered;
}


.messageBar {
    display: flex;
    flex-direction: row;
    padding: 2%;
    width: 100%;
    justify-content: space-around;
    background-color: #2c2e615e;
}

.messageBar>input {
    
    border-radius: 5px;
    outline: none;
}
.messageBar button{

    margin: 0% 1%;
}
.navbar{
    background-color: #2c2e615e;
   

}

.highlight-refer{
    border: 3px solid red;
}

@media only screen and (min-width: 600px) {
    body {
    background-image: url("/user/images/DesktopWallpaper.jpeg");
    
    background-size: fill; 
    width: 100vw; 
    overflow: hidden;
    }
    .messageContainer{
        overflow-x: hidden;
        overflow-y: scroll;
        
    }
    .messageBar{
        background-color: #2c2e615e;
        padding:0.5%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    .messageBar>input{
        flex-grow: 40;
        border-radius: 12px;
        border: none;
        padding-left: 1%;
    }
    .messageBar>button{
        margin: 0% 5px;
        flex-grow: 3;
        border-radius: 20px;
    }
    .messageContainer::-webkit-scrollbar{
        display: none;
    }
  }