:root {
  --primary-color: #15162d;
  --shadow-color: #2c2e61;
}
p {
  margin: 0;
}
.teamName {
  font-size: 20px;
}
.menueOptions{
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  bottom: 0%;
  margin-bottom: 4rem;
  margin-left: -7rem;
  max-width: 30%;
  height: 7rem;
  /* left: ; */
  transition: transform 0.5s ease-in-out;
  transform: translateX(-8rem);
  
}
.menueOptions button{
  width: 7rem;
}
#justZero{
  display: none;

}
.menueOptions.show {
  display: flex;
  transition: transform 0.5s ease-in-out;
  transform: translateX(9rem);
}
body {
  background-image: url("/user/images/DesktopWallpaper.jpeg");
  background-image: url("../../assets/images/DesktopWallpaper.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.parent {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.messageContainer {
  display: flex;
  height: 100%;
  overflow-X: hidden;
  overflow-Y: scroll;
  
  
}
.messageContainer::-webkit-scrollbar{
  display: none;
}

.messages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
  /* min-height: 40px; */
  width: fit-content;
  font-size: 15px;
  max-width: 80%;
  padding: 1%;
  margin: 10px;
  border-radius: 0px 20px 20px 20px;
  background-color: #15162d;
  -webkit-box-shadow: 3px 4px 43px -8px #2c2e61;
  -moz-box-shadow: 3px 4px 43px -8px #2c2e61;
  box-shadow: 3px 4px 43px -8px #2c2e61;
}
.messages p {
  color: white;
}

.messsages p {
  /* text-overflow: ellipsis; */
  /* width: 80%; */
  color: white;
}
.messages > p:last-child {
  margin: 0.2rem 0% 0.2rem 0%;
  text-align: right;
  font-size: 12px;
}
.serverMessage {
  background-color: #15162d;

  color: rgb(242, 5, 5);
}

.myMessage {
  display: flex;
  align-self: flex-end;
  border-radius: 20px 0px 20px 20px;
  background-color: #0d6efd;
  padding: 0.5rem;
}
.myMessage > h6 {
  display: none;
}

.first h6 {
  color: greenyellow;
}

.second h6 {
  color: blue;
}

.third h6 {
  color: orangered;
}

.messageBar {
  display: flex;
  flex-direction: row;
  background-color: #050638ef;
  height: fit-content;
  width: 95%;
  border-radius: 1rem;
  padding: 0.5%;
  justify-content: space-around;
  margin-bottom:0.5rem;
}

.messageBar > input {
  flex-grow: 9;
  outline:none;
  border: none;
  border-radius: 12px;
  padding-left: 2%;
  background-color: transparent;
  color: white;
}
.messageBar button {
  margin: 0% .5%;
  flex-grow: 1;
  border-radius: 12px;
  background-color: transparent;
  border: none;
  border-radius: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar {
  background-color: #2c2e615e;
}

.highlight-refer {
  border: 3px solid red;
}
#serverSend{
  border-left:0.5px solid white;
}
#serverSend span{
  color: pink;
  

}
#chat{
  border-left: 0.5px solid  white;

}
#chat span{
  color: #0d6efd;

}
#menue{
  border-right: 0.5px solid white;
}
#menue span{
  font-size: 2rem;
  color: #0d6efd;
  

}

@media only screen and (max-width: 600px) {
  body,html{
    height: 100%;
    
    /* overflow:hidden; */
}
  .messageBar > button {
    border-radius: 0;
  }
  .parent{
    height: 100%;
  }
  body {
    background-image: url("/user/images/mobileWallpaper.jpeg");
    background-image: url("../../assets/images/mobileWallpaper.jpeg");
    height: 100%;
    min-height:env(safe-area-inset-top);;
    background-size: fill;
    width: 100vw;
    overflow: hidden;
  }
  .messageContainer {
    overflow-x: hidden;
    overflow-y: scroll;
  }
  .messageBar {
    /* background-color: #464bc95e; */
    background-color: #050638ef;
    /* padding: 1.5%; */
    height: 3.5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 1%;
    width: 95%;
    border-radius: 3rem;
  }
  .messageBar > input {
    background-color: transparent;

    width: 40%;
    flex-grow: 5;
    /* border-radius: 12px; */
    border: none;
    border-radius: 12px 0px 0px 12px;
    padding-left: 2%;
    color: white;
  }
  #chat{
    border-radius: 0px 12px 12px 0px;
  }
  
  .messageBar > button {
    background: rgba(255, 255, 255, 0.175);
    background-color: transparent;
    /* border: none; */
    /* width: 5%; */
    /* margin: 0% 5px; */
    flex-grow: 7;
    /* border-radius: 0px; */
    margin-left: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  .messageBar > button>span{
    color:white
  } 
  .messageContainer::-webkit-scrollbar {
    display: none;
  }
 
  #menue span{
    font-size: 1.2rem
  }
  .menueOptions{
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    bottom: 0%;
    margin-bottom: 4rem;
    margin-left: -7rem;
    max-width: 30%;
    height: 7rem;
    left: -1%;
    transition: transform 0.5s ease-in-out;
    transform: translateX(-4rem);
    
  }
  
    
  .menueOptions.show {
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(7rem);
  }
  #chat{
    /* background-color: white; */
    border: none;
    outline: none;
    color: gray;
    margin: 0;
    border-radius: 0;
    border-left: 0.25px solid rgba(255, 255, 255, 0.418);
    flex-grow:2 ;

  }
  #chat span{
    color: #0d6efd;
  }

  
  #serverSend{
    border-radius: 0px 12px 12px 0px;
    padding: 0%;
    background-color: transparent;
    border: none;
    border-left: 0.25px solid rgba(255, 255, 255, 0.418);
    background-image: none;
    

  }
  #serverSend span{
    color: pink;
  }
  #menue{
    width: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    outline: none;
    border-radius: 50%;
    /* border-right: 0.25px solid rgba(255, 255, 255, 0.418); */
    background-color: transparent;
    height:2.75rem;
  
  }
  .teamName{
    padding-left: 1rem;
  }

}