body{
    background-color: #15162D;
    overflow: scroll;
    overflow-x: hidden;
}
body>h1{
    display: none;
}
.introContainer{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.vd{

    display: flex;
    width: 80%;
    min-height: 7rem;
    min-width: 7rem;
    max-height: 100vh;
    padding: 2%;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.vd span{
    
    z-index: 5;
    position: absolute;
    font-size: 7rem;
    color:#15162D;
    
}
#introVideo{
    display: flex;
    position: relative;

    max-height: 80vh;
    height: 100%;
    width: 100%;
    min-width: 50rem;
    object-fit: cover;
    -webkit-box-shadow: 3px 4px 43px -8px #2c2e61;
    -moz-box-shadow: 3px 4px 43px -8px #2c2e61;
    box-shadow: 3px 4px 43px -8px #2c2e61;
}
#introVideo source{
    height: 100%;
    width: 100%;
}
.instructionContainer{
    display: none;
    justify-self: center;
    flex-direction:column ;
    justify-content: center;
    align-items: center;

    color: white;

}
.instructionContainer li{
    font-size: larger;
    margin: 2rem 0%;
    width: 80%;
    
}
.gameStartBtn{
    display: none;

    padding: 1% 0%;
    width: 100%;
    

    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.gameStartBtn button{
    margin-top: 7%;
    width: 50%;
}
@media only screen and (max-width: 600px) {
    body,html{
        height: 100%;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
    }
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    body>h1{
        display: flex;
        margin: 55% 0rem;
    }
    
    .introContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0%;
        margin: 0%;
        height: 100%;
    }
    .vd{
        max-width: 90vw;
        margin: 0%;
    }
    #introVideo{
        width:40%;
        min-width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .instructionContainer{
        
        position: absolute;
        top: 4%;
    }
    .instructionContainer li{
        font-size: 18px;
        height: fit-content;
        
        
    }
  }